<%- include("../partials/head.html")%> 
    <div>
        contact me
        <img src="images/zen.jpg">
        My name is <%= user.name %> <%= name %>
        

        <% numbers.forEach(element => { %>
                <%= element %> 
        <% }) %>

        <!-- My name is <%= name %>  -->
    </div>
    <%- include("../partials/bottom.html")%> 
